body{
    background-color: #90C7E3;
    color: #666666;
    font-family: Verdana;
    background:linear-gradient(#FFFFFF,#90C7E3);
    margin: 0;
}

header{
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia;
    height: 120px;
    text-decoration: none;
}

h1{
    text-align: center;
    padding-top: .5em;
    font-size: 3em;
    letter-spacing: 0.25em;
}

nav{
    text-align: center;
    background-color: white;
    font-size: 1.2em;
}

nav a:link {
    color:#5C7FA3;
    text-decoration: none;
}

nav a:hover {
    color:#90C7E3;
    text-decoration: none;
}

nav a:visited {
    color: #344873;
    text-decoration: none;
}

nav ul {
    marker: none;
    padding-left: 1em;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}

nav li{
    padding-top: 0.5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: solid, 1em;
}

h2{
    color: #1976D2;
    font-family: Georgia;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    padding-left: 2em;
    padding-right: 2em;
    display:block;
    background-color: #FFFFFF;
    margin-left: 170px;
    overflow:auto;
}

dt{
    color: #002171;
    font-weight: bold;
}

.resort{
    color: #1976D2;
    font-size: 1.2em;
}

footer{
    font-size: .70em;
    text-align: center;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
}

table{
    align-self: center;
    border: #3399CC, 1px;
    width: 90%;
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: #3399CC, 1px;
    text-align: center;
}

th{
    padding: 5px;
    border: #3399CC, 1px;
}

text{
    text-align: left;
}

:nth-child(2){
    background-color: #DFEDF8;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 60%;
    display: grid;
    gap: 1em;
    columns: 2, width(10em, 1fr);
}

submit_button{
    grid-column: 2;
    width: 9em;
}

input{
    margin-bottom: .5em;
}

textarea{
    margin-bottom: .5em;
}

mobile-id {
    display:inline;
}

desktop-id{
    display:none;
}

#wrapper {
    background-color: #FFFFFF;
    background:linear-gradient(#FFFFFF,#90C7E3);
}

homehero{
    height: 300px;
    background-size: 200% 100%;
    
}

yurthero{
    height: 300px;
    background-size: 200% 100%;
    
}

trailhero{
    height: 300px;
    background-size: 200% 100%;
    
}

reshero{
    height: 300px;
    background-image: image-set("ocean.jpg") ;
    background-size: 100% 100%;
    background-repeat: none;
}

nav a{
    text-decoration: none;
}

* {box-sizing:border-box;}

section {
    padding-left: .5em;
    padding-right: .5em;
}

@media screen and (min-width: 600px) {

    h1{
        font-size: 2em;
        letter-spacing: .25em;
    }

    nav ul{
        container:flex(row without wrap);
        justify-content: space-around;
        padding-right: 2em;
    }

    nav li{
        width:12em;
        border-bottom: none;
    }

    section{
        padding-left: 2em;
        padding-right: 2em;
    }

    flow {
        container:flex(row);
    }

    mobile-id{
        display:none;
    }

    desktop-id{
        display:inline;
    }

    homehero{
        background-size: 100% 100%;
    }

    yurthero{
        background-size: 100% 100%;
    }

    trailhero{
        background-size: 100% 100%;
    }

}


@media screen and (min-width: 1024x) {
    body{
        background-image: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
    }

    nav ul{
        padding-right: 10%;
        padding-left: 10%;
    }

    #wrapper{
        margin: center, width=80%;
    }
}
